
.sign-in-section{
    max-height: 40vw;
    max-width: 40vw;
    padding: 2vw;
    transform: translate(50%,10%);
    border: rgba(255, 255, 255, 0.45) 3px solid;
    border-radius: 1vw;
     background-color: #242121;
}
.sign-in-form{
    display: flex;
    flex-direction: column;
}
.sign-in-form label{
    color: white;
    margin-bottom: .5vw;
    margin-top: .5vw;
    font-size: 1.5vw;

}
.sign-in-form input{
    padding: .5vw;
    font-size: 1.5vw;
    text-indent: 1vw;
    background-color: rgba(255, 255, 255, 0.707);
    border: none;
    border-radius: .3vw;
    color: rgba(0, 0, 0, 0.724);
}
.sign-in-form input:focus-visible{
    border: none;
    outline: none;
}

.sign-in-form div label{
font-size: 1vw;
padding-left: .5vw;
}
.sign-in-form div {
    padding: 1vw;
}
.sign-in-form button{
    background-color: #13cc25af;
    color: white;
    border: none;
    font-size: 1.5vw;
    padding: .7vw;
    border-radius: 2vw;
    margin-top: 1vw;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .1vw;
}
.sign-in-form button:hover{
    background-color: #19b72997;
    transition: all 200ms ease;

}
.sign-in-form input[type='checkbox']{
    accent-color: #097513fd;
}
.sign-in-section h4{
    color: white;
    margin-bottom: 1vw;
    font-size: 2.2vw;
    text-align: center;
}
.signup-redirect{
    font-size: 1.3vw;
    color: white;
    margin-top: 1vw;
   display: flex;
   gap: 1vw;
}
