.history-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
@media only screen and (max-width: 71.875em) {
    .history-section{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media only screen and (max-width: 60em) {
    .history-section {
      grid-template-columns: repeat(2, 1fr);
    }}
  @media only screen and (max-width: 37.5em) {
    .history-section{
    grid-template-columns: repeat(1, 1fr);
    transform: translateX(30%);
    width: 70%;
    }
}