* {
  /* border: 1px green solid; */
}
.main-section {
  background-color: #303030;
  position: absolute;
  /* height: 100%; */
  /* width: 100%; */
  /* transform: translate(0,-20vw); */
  /* margin-top: 17.5vw; */
  /* display: grid;
  grid-template-columns: repeat(3,1fr); */
  /* z-index: -10; */
  padding-left: 9vw;
  padding-top: 11vw;
  padding-right: 2.8vw;
  width: 88.05%;
  min-height: 90%;
/* display: none; */
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: calc(16px + 2vw);
}
/* @media (max-width:90em) {
  .grid-section{
    grid-template-columns: repeat(2,1fr);

}
} */

/*******Video*******/
.video {
  margin: 1vw;
  width: calc(16px + 25vw);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
}
.thumbnail-section > img {
  height: calc(16px + 13.5vw);
  width: calc(16px + 25vw);
  margin-bottom: 1vw;
  border-radius: 0.7vw;
}
.thumbnail-section{
  height: calc(16px + 14.5vw);
}
.video-info-section {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.56);
}
.video-bottom-top > img {
  border-radius: 50%;
  height: 3vw;
  width: 3vw;
}
.video-bottom {
  display: flex;
}
.video-info {
  font-size: 1vw;
  display: flex;
  padding-left: 1vw;
}
.video-info-section{
    text-align: left;
}
.video-info-section > p {
  padding-left: 1vw;
  /* font-size: calc(16px + .1vw); */
  font-size: 1.2vw;
  margin-bottom: 0.2vw;
 
}
.video-info-section > p:nth-child(1){
    font-size: 1.3vw;
    padding-left: 1vw;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 1.7vw;
}
.time {
  padding-left: 0.5vw;
}
iframe{
  height: 15.3vw;
  width: 27vw;
}
.video-top>img{
  height: 15.3vw;
  width: 27vw;
}
.more-button{
  background: none;
  border: none;
  transform:
   rotate(90deg);
   cursor: pointer;
   border-radius: 50%;
   height: 3vw;
   width: 3vw;
   display: flex;
   justify-content: center;
   align-items: center;
}
.video-bottom button:active{
  background: #676666;
}

.video-bottom button>img{
  height: 2.5vw;
  /* width: 3vw; */
}
.title-button-section>p{
  font-size: 1.4vw;
  padding-left: 1vw;
  word-wrap: break-word;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1.7vw;
}
.title-button-section{
  display: flex;
  justify-content: space-between;
  width: 24vw;
  align-items: center;
}
/* .more-button{
  background: none;
  border: none;
  transform:
   rotate(90deg)
   translate(17vw,-25vw)
   ;
   position: absolute;

}
.more-button>img{
  height: 2.6vw;
} */
@media only screen and (max-width: 71.875em) {
  .grid-section{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 60em) {
  .grid-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .thumbnail-section > img {
    height: calc(16px + 18.5vw);
    width: calc(16px + 35vw);
  }
  .video {
    margin: 1vw;
    width: calc(16px + 35vw);
  }
  .title-button-section{
    width: 34vw;
  }
  .thumbnail-section{
    height: calc(16px + 19vw);
  }
  /* .outer-grid {
    margin-left: 5em;
  } */
}
/* @media only screen and (max-width: 42.375em) {
  .outer-grid {
    margin-left: 0;
  }
} */
@media only screen and (max-width: 37.5em) {
  .grid-section {
  grid-template-columns: repeat(1, 1fr);
  transform: translateX(30%);
  width: 70%;
  }

}