
*{
    /* border: 1px solid green; */
}
.main-filter-section{
    position: fixed;
    /* top: 5vw; */
    /* left: 6vw; */
    background-color: #303030;
    display: flex;
    align-items: flex-end;
    /* transform: translate(6vw,5.5vw); */
    transform: translate(-2vw,calc(16px + -4vw));
    padding-top: 1vw;
    padding-bottom: 1vw;
    /* max-width: fit-content; */
    width: 93%;
    z-index: 100;
    transition: all 300ms ease;

    
}
.main-filter-section#light{
    background-color: #ffffff;
    transition: all 300ms ease;

}
.main-filter-section a{
    position: relative;
    margin-left: 2vw;
    padding: .6vw;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
    background-color: #0fb21f58;
    text-decoration: none;
    color: white;
    border-radius: 2.5vw;
    display: flex;
    justify-content: center;
    font-size: calc(16px + .1vw);
    /* transition: all 100ms ease-in; */
    z-index: 0;
    cursor: pointer;
}
.main-filter-section#light a{
    background-color: #207b29;
   
}
.main-filter-section a:nth-child(1){
    margin-left: 4vw;
}
.main-filter-section a:hover{
    background-color: #39ee4b58;
    /* transition: all 200ms ease-in; */

}

.main-filter-section a:focus{
    background-color: #4af25b51;
    border: 3px solid rgb(50, 129, 50);
    padding: .5vw;
  padding-left: 1.4vw;
  padding-right: 1.4vw;
}
.filter-left{
    /* transform: translate(19vw,-715%); */
}
.filter-left{
    -webkit-animation-delay: 2s;
    animation: filterSlide 0.1s ;
    animation-delay: 2s;
    -webkit-animation: filterSlide 0.1s forwards;
}
@-webkit-keyframes filterSlide {
    0% {    transform: translate(-2vw,calc(16px + -4vw));
        
        width: 92%;
        }
        100% {    transform: translate(16.7vw,calc(16px + -4vw));
 
        width: 75%;
        }
}

@keyframes filterSlide {
    0% {    transform: translate(-2vw,calc(16px + -4vw));
        
        width: 92%;
        }
        100% {    transform: translate(16.7vw,calc(16px + -4vw));
 
        width: 75%;
        }
}
@media only screen and (max-width: 830px) {
    .main-filter-section a{
        margin-left: 2vw;
        padding: .8vw;
        padding-left: 1.8vw;
        padding-right: 1.8vw;
        font-size: 2vw;
    }
 }
 @media only screen and (max-width: 620px) {
    .main-filter-section a{
        margin-left: 2vw;
        padding: .8vw;
        padding-left: 3vw;
        padding-right: 3vw;
        font-size: 3vw;
    }
 }
 @media only screen and (max-width: 550px) {
    .main-filter-section a{
        padding-left: 3vw;
        padding-right: 3vw;
    }
 }