*{
    /* border: 1px green solid; */
}
nav{
    width: 100%;
    /* min-width: 100vw !important; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303030;
    position: fixed;
    transform: translateY(0%);
    z-index: 10;
    height: 6vw;
}
nav button{
    border: none;
    background: none;
}
nav h1{
    color: rgba(151, 255, 53, 0.885);
    font-weight: 700;
    font-size: 2vw;
}
.nav-left{
    display: flex;
    margin-left: 1vw;
}
article{
    display: flex;
    align-items: center;
    /* width: 100%; */
}
nav form{
    margin: 1.3rem;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    position: relative;
    width: 34vw;
    height: 3.2vw;
    overflow: hidden;
    /* overflow-clip-margin: 20px; */
    border-radius: 2rem;
    padding: 1px;
}
nav form>input{
    background-color: #0a5110;
    color: white;
    height: 99%;
    width: 99.5%;
    text-indent: 1.3vw;
    border-radius: 2vw;
    border: 1px rgb(255, 255, 255) solid;
    font-size: 1.1vw;

}
nav form>input::placeholder{
color: rgba(255, 255, 255, 0.656);
}
nav form>button{
    position: absolute;
    right: 0rem;
    /* top: 1px; */
    /* bottom: .9vw; */
    background-color: #06300a;
    /* height: 2.55rem; */
    /* width: 4rem; */
    height: 100%;
    width: 15%;
   
    border-top-right-radius: 2.5vw;
    border-bottom-right-radius: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgb(255, 255, 255) solid;

}
.nav-left>button,h1,
.nav-right>button{
    padding: 1vw;
}
.nav-right{
    padding-right: 1rem;
}
#mic-btn{
    background-color: #4e4e4e;
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav button img{
    height: 2.5vw;
    width: 2.5vw;
}
.user-pfp{
    cursor: pointer;
}
