*{
    /* border: 1px green solid; */
}
nav{
    /* width:  calc(16px + 97vw) ; */
    width: 100%;
    /* min-width: 100vw !important; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap:  calc(16px + 2vw) ; */
    position: fixed;
    transform: translateY(0%);
    z-index: 10;
    height: calc(16px + 7vw);
    transition: all 100ms ease;
    background-color: #303030;
    /* height: 6vw; */
}
nav#light{
    background-color: #ffffff;
    transition: all 80ms;
}
/* nav#dark{
    background-color: #303030;
    transition: all 300ms ease;

} */
nav button{
    border: none;
    background: none;
    cursor:  pointer;
}
nav h1{
    color: rgba(141, 246, 42, 0.885);
    font-weight: 700;
    font-size: calc(16px + .7vw);
    /* font-size: 2vw; */
}
nav#light h1{
    color: rgb(102, 211, 0);
}
.nav-left{
    display: flex;
    margin-left: 1vw;
}
article{
    display: flex;
    align-items: center;
    /* width: 100%; */
}
nav form{
    margin: 1.3rem;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    position: relative;
    /* width: 34vw; */
    width: calc(16px + 34vw);
    height: calc(16px + 2.3vw);
    /* height: 3.2vw; */
    overflow: hidden;
    /* overflow-clip-margin: 20px; */
    border-radius: 2rem;
    padding: 1px;
}
nav form>input{
    background-color: #126c1a;
    color: rgb(255, 247, 247);
    height: 99%;
    width: 99.5%;
    text-indent: 2vw;
    border-radius: 2vw;
    /* border: 1px rgb(255, 255, 255) solid; */
    font-size: calc(16px + .4vw);
    /* font-size: 1.1vw; */
    border: none;

}
nav form>input:focus-visible,
nav form>input:focus{
   border: none;
   outline: none;

}
nav form>input::placeholder{
color: rgba(255, 255, 255, 0.656);
}
nav form>button{
    position: absolute;
    right: 0rem;
    /* top: 1px; */
    /* bottom: .9vw; */
    background-color: #06300a;
    /* height: 2.55rem; */
    /* width: 4rem; */
    height:94%;
    width: 15%;
   
    border-top-right-radius: 2.5vw;
    border-bottom-right-radius: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px rgb(255, 255, 255) solid; */

}
.nav-left>button,h1,
.nav-right>button{
    padding: 1vw;
}
.nav-right{
    padding-right: 1rem;
}
#mic-btn{
    background-color: #4e4e4e;
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav button img{
    height: calc(16px + 1.5vw);
    width: calc(16px + 1.5vw);
}
 nav#light .nav-right button img{
    filter: invert(100%);
}
 nav#light .nav-right a button img {
    filter: invert(0%);
}
 nav#light .nav-left button img{
    filter: invert(100%);
}
.user-pfp{
    cursor: pointer;
}
.profile-icon{
    font-size: calc(16px + 1.5vw);
}
#dark .profile-icon{
    color: #ffffff;
}
#light .profile-icon{
    color: #303030
}

.theme-toggle{
    font-size: calc(16px + 1.3vw);

}
#dark .theme-toggle{
    color: #ffffff;

}
#light .theme-toggle {
    color: #303030
}
#search-btn-right{
    display: none;
}
@media only screen and (max-width: 35em) {
    nav{
       width:97% ; 
    }
}
@media only screen and (max-width: 830px) {
   .nav-right>button:nth-child(2),
   .nav-right>button:nth-child(4){
    display: none;
   }
   /* .nav-right a {
    display: inline-block
   } */
   
}
@media only screen and (max-width: 620px) {
    nav{
        width: 100vw;
    }
  #mic-btn{
    display: none;
  }
   .nav-left button{
    display: none;
   }
   nav h1{
        font-size: calc(16px + .7vw);
   }
   .nav-right{
    /* padding-right: 1vw; */
   }
   .nav-right button{
    padding-left: 4vw;
   }
}
@media only screen and (max-width: 550px) {
    nav form{
    display: none;
    }
    #search-btn-right{
        display: inline-block;
    }

}
