.playlist-page{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.playlist-page div img{
    height: 15.3vw;
  width: 27vw;
  margin-bottom: 1vw;
  border-radius: 0.7vw;
  
}
.playlist-page button{
  all: unset;
  color: rgb(217, 3, 3);
  position: absolute;
  margin: 1vw;
  font-size: calc(16px + 2vw);
  padding: 1.2vw;
  border-radius: 50%;
  height: 3vw;
  transition: all 200ms ease;
  width: 3vw;
}
.playlist-page button:hover{
  background-color: rgba(224, 134, 134, 0.593);
  transition: all 200ms ease;
}
.playlist-page div{
    position: relative;
}
.playlist-page p{
    position: absolute;
    /* transform: translate(16vw,6vw); */
    font-size: 2.5vw;
    color: rgba(255, 255, 255, 0.952);
    font-weight: 700;
    text-align: center;
    word-break: break-all;
}

.playlist-page span{
    position: absolute;
    transform: translate(13.5vw,0vw);
    width: 50%;
    height: 92%;
    background-color: rgba(0, 0, 0, 0.693); 
  border-top-right-radius: 0.7vw;
  border-bottom-right-radius: 0.7vw;
  display: flex;
  justify-content: center;
  align-items: center;

}
@media only screen and (max-width: 71.875em) {
  .playlist-page{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 60em) {
  .playlist-page {
    grid-template-columns: repeat(2, 1fr);
    /* display: none; */
  }
  .playlist-page div img{
    height: 18.5vw;
  width: 35vw;
  
}
.playlist-page span{
  transform: translate(17.5vw,0vw);
  width: 50%;
  height: 92%;

}
}
@media only screen and (max-width: 37.5em) {
.playlist-page {
  grid-template-columns: repeat(1, 1fr);
  transform: translateX(0%);
  width: 70%;
  }  .playlist-page div img{
    height: calc(16px + 41.58vw);
    width: calc(16px + 77vw);
  
}
.playlist-page span{
  transform: translate(40vw,0vw);
  width: 50%;
  height: 92%;

}.playlist-page p{ 
  font-size:6vw;
}
}