iframe{
    height: 34vw;
    width: 86vw;
    position: absolute;
    top: 6vw;
}
.video-page-name{
    position: absolute;
    font-size: 2.3vw;
    color: white;
    top: 40.5vw;
    font-weight: 600;
    text-indent: 1vw;
    
}
.video-page-info{
    display: flex;
    position: absolute;
    top: 44.5vw;
    width: 80%;
    align-items: center;
    gap: 75vw;
}
img{
    height: 4vw;
    width: 4vw;
    border-radius: 50%;

}
.video-page-info>p{
    position: absolute;
    top: 0 ;
    font-size: 1.7vw;
    color: rgba(255, 255, 255, 0.719);
    z-index: 100;
    font-weight: 400;
    text-indent: 5vw;
    padding-top: 1vw;
}
.more-button-video{
    background: none;
    border: none;
    transform:
     rotate(90deg);
     cursor: pointer;
     border-radius: 50%;
     height: 3vw;
     width: 3vw;
     display: flex;
     justify-content: center;
     align-items: center;
  }
  .video-buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }
  .video-buttons-container button:nth-child(1){
    all: unset;
    font-size: 3vw;
    color: rgb(8, 203, 8);
  }